.hero_background_scale {
  z-index: 9999;
}

.hero_background_content,
.hero_marqueee_wrap {
  pointer-events: none;
}

.modal_video_wrap {
  display: none;
  opacity: 0;
}

@media (max-width: 991px) {
  .cursor_wrapper {
    display: none !important;
    opacity: 0 !important;
  }
}

.modal_video_wrap .plyr {
  width: 100%;
  height: 100%;
  --plyr-color-main: var(--_theme---text-accent, #ceab5d);
}
